* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: rgba(0, 0, 0, 1);
	color: white;
	font-family: sans-serif;
}

.container, .timezone_icon, .temperature_section, .description_sec{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.timezone_icon {
	flex-direction: row;
	width: 50%;
}

.temperature_section {
	flex-direction: row;
}

.temperature_section:hover {
	cursor: pointer;
}

.temp {
	font-size: 3rem;
}

.temp_unit {
	color: rgba(255,255, 255, 0.6);
	font-size: 2rem;
}

::selection {
	background: black;
}